<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate weight: <input type="number" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="number" name="pirate[height]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty<input type="text" name="pirate[ships][][booty]"></p>
  <input type="submit" value="submit" name="Submit">
</form>