<h1>Make your form here</h1>

<form metiod="post" action="/pirates">
  <p><input type="text" name=""></p>
  <p><input type="text" name=""></p>
  <p><input type="" name=""></p>
  <p><input type="" name=""></p>
  <p><input type="" name=""></p>
  <p><input type="" name=""></p>
  
</form>